<% provide(:title, "adidas All") %>
<div class="rbk-page-info-top-holder">
  <div class="pageinfotop-wrapper ">
    <div id="breadcrumbs">
      <ul id="product-breadcrumb" class="breadcrumbs clearfix " data-component="product/ProductBreadCrumb" data-scope="breadcrumbs">
        <li class="back"><%= link_to 'Trở lại', :back, id: "product-back", class: "icon-arrow-left-circle" %></li>   
        <li class="home" data-context="home">
            <span class="divider">|</span>
            <%= link_to 'Trang chủ', root_path %>
        </li>
        <!--GENDER AGE FRANCHISE BRAND SPORTS PRODUCTTYPE PARNER CATEGORY MIADIDAS-->
    </ul>
</div>

<br>
<div class="page-heading clearfix">
    <div class="rbk-page-heading">
        <div class="rbk-heading-wrapper">

            <h1>
                thuộc tính sản phẩm
            </h1>        
            <p class="count">           
                (<%= Product.count(:id) %> Sản Phẩm)      
            </p>
        </div>
    </div>
</div>

</div>
</div>





<div style="width: 218px;float:left; padding:10px; margin:50px 10px 10px 80px;position: absolute;background:#eceef0;">
    <h3 style="border-bottom: 1px solid #c8cbcc;height: 3em;line-height: 1em;font-weight: bold;font-size: 16px;">LỰA CHỌN CỦA BẠN</h3>
    <br>
    <br>
</div>

<main>

    <div class="pagination">
        <div style="float:left; margin-left:0px">Sắp xếp theo: Tên sản phẩm [A-Z]</div>
        <div style="float:left; margin-left:140px">Xem: 48</div>
        Trang: 
        
    </div>

    <!-- lặp lấy sản phẩm -->
    <% @products.each do |product| %>
    <% giaban = product.GIABAN %>
    <% giagoc = product.GIAGOC %>

    <div style="">
        <a href="/products/<%= product.id %>">   
            <div class="product">

              <div class="gl-product-card">
                <div class="gl-badge gl-badge--small gl-badge--urgent" style="<%=  product.GIAGOC ? '' : 'display: none' %> "> -
                    <% if product.GIAGOC %> 
                    <%= (100-giaban.fdiv(giagoc)*100).to_i %>
                    <% end %> %
                </div>
            </div>

            <img src="/assets/images/<%= product.IDSP %>/<%= product.ANH %>" alt="memphis" onmouseover="this.src='/assets/images/<%= product.IDSP %>/<%= product.ANHHOVER %>'" onmouseout="this.src='/assets/images/<%= product.IDSP %>/<%= product.ANH %>'" title="adidas - <%= product.TENSP %>" >
            <h3 style="border-bottom: 1px solid #c8cbcc;height: 3em;line-height: 1em;"><%= product.TENSP %></h3>

            <%= product.GENDER %>
            <br>
            <h3>
                <span id="red" style=" <%=  product.GIAGOC ? 'color:red' : '' %>">

                    <%= "#{giaban*23000} ₫" %> 
                </span></span><strike>
                    <% if product.GIAGOC %> 
                    <%= giagoc =(giagoc*23000).to_i 
                    "#{giagoc} ₫"
                    %>
                    <% end %> 
                </strike>
            </span></h3>
        </div>      
    </a>    
</div> 

<% end %>

<div class="pagination">
    <div style="float:left; margin-left:0px">Sắp xếp theo: Tên sản phẩm [A-Z]</div>
    <div style="float:left; margin-left:140px">Xem: 48</div>
    Trang: 

</div>

</main>