<p><strong>IDSP:</strong><%= @product.IDSP %></p>
<p><strong>TENSP:</strong><%= @product.TENSP %></p>
<p><strong>NGAYPHATHANH:</strong><%= @product.NGAYPHATHANH %></p>
<p><strong>ANH:</strong><%= @product.ANH %></p>
<p><strong>ANHHOVER:</strong><%= @product.ANHHOVER %></p>
<p><strong>ANHCHITIET:</strong><%= @product.ANHCHITIET %></p>
<p><strong>GENDER:</strong><%= @product.GENDER %></p>
<p><strong>AGE:</strong><%= @product.AGE %></p>
<p><strong>GIABAN:</strong><%= @product.GIABAN %></p>
<p><strong>GIAGOC:</strong><%= @product.GIAGOC %></p>
<p><strong>SALE:</strong><%= @product.SALE %></p>
<p><strong>COLOR:</strong><%= @product.COLOR %></p>
<p><strong>COLORDT:</strong><%= @product.COLORDT %></p>
<p><strong>FRANCHISE:</strong><%= @product.FRANCHISE %></p>
<p><strong>PRODUCTTYPE:</strong><%= @product.PRODUCTTYPE %></p>
<p><strong>BRAND:</strong><%= @product.BRAND %></p>
<p><strong>CATEGORY:</strong><%= @product.CATEGORY %></p>
<p><strong>SPORTS:</strong><%= @product.SPORTS %></p>
<p><strong>MIADIDAS:</strong><%= @product.MIADIDAS %></p>
<p><strong>TEAMNAME:</strong><%= @product.TEAMNAME %></p>
<p><strong>PARNER:</strong><%= @product.PARNER %></p>
<p><strong>DESCRIPTION_H5:</strong><%= @product.DESCRIPTION_H5 %></p>
<p><strong>DESCRIPTION_P:</strong><%= @product.DESCRIPTION_P %></p>
<p><strong>SPECIFICATIONS:</strong><%= @product.SPECIFICATIONS %></p>
<p><strong>CARE:</strong><%= @product.CARE %></p>

<h2>Các bình luận</h2>
<%= render @product.comments %>

<h2>Thêm một bình luận:</h2>
<%= render 'comments/form' %>

<%= link_to 'Sửa', edit_product_path(@product) %> |
<%= link_to 'Trở lại', products_path %>
